<div class="container">
  <%= link_to "Back", root_path, class:'btn btn-primary' %>
  <%= link_to "Novo Restaurante", new_restaurant_path, class: "btn btn-success" %>

  <% @restaurants.each do |restaurant| %>
    <li>
      <%= restaurant.name %> |
      <%= restaurant.address %> |
      <%= restaurant.user.email %>

      <%= link_to "ver", restaurant_path(restaurant) %>
      <%= link_to "editar", edit_restaurant_path(restaurant) %>
      <%= link_to "delete", restaurant_path(restaurant), method: :delete, data: { confirm: 'Tem certeza?' } %>
    </li>
  <% end %>
</div>